@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Roboto:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Neonderthaw&display=swap");



:root {
  --fond: #111121;
}

html {
  background-color: var(--fond);
  color: aliceblue;
  font-family: "Roboto", serif;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 0;
  margin-top: 0;
  margin-left: 1em;
  margin-right: 1em;
}

a:link,
a:visited {
  color: deepskyblue;
  text-decoration: none;
}
a:hover {
  color: aqua;
}

a:active {
  color: aqua;
}


#mainDiv {
  display: grid;
  grid-template-columns: 23em auto;
  grid-template-rows: 5% 95%;
}

.leftScreen,
.content {
  border-radius: 2em;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.upperScreen {
  position: sticky;
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #1272b3;
  padding-top: 0;
  margin-top: 0;
  top: 0em;
  z-index: 1;
  border-bottom: solid 1em var(--fond);
  border-top: solid 0.7em var(--fond);
  text-align: center;
  font-family: "Lobster";
}

.leftScreen {
  position: fixed;
  background-color: #2c2c2c;
  height: 30em;
  width: 20em;
  text-align: center;
  margin-top: 6.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}

.navigation {
  /*Espacement entre les boutons*/
  margin-top: auto;
  margin-bottom: auto;
  /*Réduction du padding autour des boutons (boutons plus gros avec grand padding)*/
  padding: 3%;
  /*Taille minimale des boutons*/
  min-width: 100px;
  background-color: rgb(14, 95, 143);
  color: white;
  border-radius: 25px;
  /*trucs*/
  height: auto;
  border: inset 2px deepskyblue;
  cursor: pointer;
  font-family: "Roboto", bold;
  font-size: 1em;
}

.navigation:hover{
  color : rgb(14, 95, 143);
  background-color: white;
}

.content {
  grid-column: 2;
  grid-row: 2;
  background-color: #2c2c2c;
  height: auto;
  width: auto;
  min-width: 60em;
  margin-left: 1em;
  padding: 1.5em;
}

#inputInscription {
  height: auto;
  width: auto;
}

hr {
  border: 2px solid aqua;
}

#boutonRetourListe {
  margin-bottom: 1em;
  padding: 0.5em;
  min-width: 100px;
  background-color: rgb(14, 95, 143);
  color: white;
  border-radius: 25px;
  height: auto;
  border: inset 2px deepskyblue;
  cursor: pointer;
  font-family: "Roboto", bold;
  font-size: 1em;
}
#boutonRetourListe:hover{
  color :rgb(14, 95, 143);
  background-color: white;
}

.inscri{
  margin-top: 35px;
  background-color: white;
  border: rgb(14, 95, 143);
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: rgb(14, 95, 143);
  font-weight: 100;
  letter-spacing: 0.01em;
  font-family: "Roboto", bold;
  position: relative;
  z-index: 1;
}
.inscri:hover{
  color :white;
  background-color: rgb(14, 95, 143);
}




.fieldinscri {

}





.homeCrea > h3 > span {
  font-size: 0.7em;
}
