@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Roboto:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Neonderthaw&display=swap");

:root {
  --fond: #ffffff;
}

html {
  background-color: var(--fond);
  color: aliceblue;
  font-family: "Roboto", serif;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 0;
  margin-top: 0;
  overflow-x: hidden;
}

a {
  position: relative;
  color: deepskyblue;
}
a:visited {
  color: deepskyblue;
  text-decoration: none;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -5px 0;
  background-color: aqua;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#mainDiv {
  display: grid;
  grid-template-columns: 19em auto;
  grid-template-rows: 7em 89%;
}

.leftScreen,
.content {
  border-radius: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.upperScreen {
  position: sticky;
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #1272b3;
  padding-top: 0;
  margin-top: 0;
  top: 0em;
  z-index: 1;
  border-bottom: solid 1em var(--fond);
  border-top: solid 0.7em var(--fond);
  text-align: center;
  font-family: "Lobster";
}

.leftScreen {
  position: fixed;
  background-color: #25283b;
  height: 20em;
  width: 15em;
  text-align: center;
  margin-top: 6.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.navigation {
  /*Espacement entre les boutons*/
  margin-top: auto;
  margin-bottom: auto;
  /*Réduction du padding autour des boutons (boutons plus gros avec grand padding)*/
  padding: 3%;
  /*Taille minimale des boutons*/
  min-width: 100px;
  background-color: #1272b3;
  color: white;
  border-radius: 25px;
  /*trucs*/
  height: auto;
  border: inset 2px deepskyblue;
  cursor: pointer;
  font-family: "Roboto", bold;
  font-size: 1em;
}

.navigation:hover {
  color: #1272b3;
  background-color: white;
}

.content {
  grid-column: 2;
  grid-row: 2;
  background-color: #25283b;
  height: auto;
  width: auto;
  min-width: 60em;
  margin-left: 1em;
  padding: 1.5em;
}

#inputInscription {
  height: auto;
  width: auto;
}

hr {
  border: 2px solid aqua;
}

.lienAcc:active {
  color: white;
}

.bout {
  margin-bottom: 1em;
  padding: 0.5em;
  min-width: 100px;
  background-color: #1272b3;
  color: white;
  border-radius: 25px;
  height: auto;
  border: inset 2px deepskyblue;
  cursor: pointer;
  font-family: "Roboto", bold;
  font-size: 1em;
}
.bout:hover {
  color: #1272b3;
  background-color: white;
}

.inscri {
  margin-top: 35px;
  background-color: white;
  border: #1272b3;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: #1272b3;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-family: "Roboto", bold;
  position: relative;
  z-index: 1;
}
.inscri:hover {
  color: white;
  background-color: #1272b3;
}

.fieldinscri {
  margin-top: 20px;
  background-color: white;
  border: #1272b3;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: #1272b3;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-family: "Roboto", bold;
  position: relative;
  z-index: 1;
}

.homeCrea > h3 > span {
  font-size: 0.7em;
}
